@model IOS_PROJECT3.ViewModels.UserPageViewModel
<style>
    /*.grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "personal-data personal-buttons" "personal-settings personal-buttons";
    }*/
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "personal-data personal-buttons" "personal-settings personal-buttons" "personal-settings personal-buttons";
    }

    .personal-data {
        grid-area: personal-data;
    }

    .personal-buttons {
        grid-area: personal-buttons;
    }

    .personal-settings {
        grid-area: personal-settings;
    }
</style>
<div class="grid-container" style="position:absolute">
<div class="personal-data">
    <h4>Ваши данные</h4>
    <dl class="row">
        <dt class="col-sm-3">ФИО</dt>
        <dd class="col-sm-9">@Model.UserFIO</dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@User.Identity.Name</dd>
        <dt class="col-sm-3">Роли</dt>
        <dd class="col-sm-9">
            <ul class="list-unstyled">
                @foreach(var role in Model.userRoles)
                {
                    <li>@role</li>
                }
                </ul>
        </dd>
    </dl>
</div>
<div class="personal-settings">
    
    <h4>Настройки безопасности</h4>
    <form class="form-group" method="post" asp-controller="Account" asp-action="ChangeSecuritySettings">
        <div class="form-row">
            <div class="col">
                <h5>Смена пароля</h5>
                
                <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                <label asp-for="OldPassword">Текущий пароль</label>
                <input class="form-control form-control-sm" type="password" asp-for="OldPassword" />
                <label asp-for="NewPassword">Новый пароль</label>
                <input class="form-control form-control-sm" type="password" asp-for="NewPassword" />
                <label asp-for="NewPasswordConfirm">Подтвердите новый пароль</label>
                <input class="form-control form-control-sm" type="password" asp-for="NewPasswordConfirm" />
            </div>
            <div class="col" style="margin-left:10px;">
                <h5 style="margin-bottom:10px; margin-top:10px">Дополнительно</h5>
                <div class="form-check">
                    <input type="checkbox" asp-for="NotifyOnLogin" class="form-check-input">
                    <label asp-for="NotifyOnLogin" class="form-check-label">Оповещать по email о входе в аккаунт</label>
                </div>
                @if (User.Identity.Name.ToUpper() != FirstRunRoleInit.FirstAdminEmail.ToUpper())
                {
                    <div class="form-check">
                        <input type="checkbox" asp-for="BlockOnFails" class="form-check-input">
                        <label asp-for="BlockOnFails" class="form-check-label">Блокировать аккаунт после 3 неудачных попыток входа</label>
                    </div>
                }

                @if ((ViewBag.Errors != null)&&(ViewBag.Errors.Count>0))
                {
                    <div asp-validation-summary="All" class="text-danger" style="margin-top:5%">
                        @foreach (string err in ViewBag.Errors)
                        {
                            <p><b>@Html.Raw(err.Replace("script", ""))</b></p>
                        }
                    </div>
                }

                @if (ViewBag.Success != null)
                {
                    <div id="success" class="text-success" style="opacity:100; margin-top:5%">
                        <b>@ViewBag.Success</b>
                    </div>
                    <script>
                        $("#success").fadeOut(3000);
                    </script>
                }
            </div>
            <input style="margin-top:10px; width:100%;" type="submit" value="Сохранить" class="btn btn-outline-primary btn-sm">
        </div>
    </form>
</div>
<div class="personal-buttons" style="position:absolute; right:5%">
    @if (User.Identity.IsAuthenticated)
    {
        <h4 style="position:relative; margin-right:3%">Вам доступны действия:</h4>

        if (User.IsInRole("Student"))
        {
            <div id="RoleBlock" style="margin-top:10px;margin-bottom:10px">
                <h6 style="position:relative; margin-right:3%">Как студенту:</h6>
                @if (Model.OwnSpeciality_S != null)
                {
                    <a class="btn btn-secondary" style="margin-top:5px" asp-controller="Disciplines" asp-action="Index" asp-route-SpecId="@Model.OwnSpeciality_S.Id" asp-route-FromPP="true">К специальности @Model.OwnSpeciality_S.Name</a>
                }
                else
                {
                    <p>Вы не принадлежите ни к одной специальности</p>
                }
            </div>
        }

        if (Model.userGrants.Exists(u => u == IOS_PROJECT3.Grants.Grants.UsersAdmin.View
                                    || u == IOS_PROJECT3.Grants.Grants.Roles.View
                                    || u == IOS_PROJECT3.Grants.Grants.Institutions.View
                                    || u == IOS_PROJECT3.Grants.Grants.Message.Admin
                                    || u == IOS_PROJECT3.Grants.Grants.Complains.View))
        {
            <div id="RoleBlock" style="margin-top:10px;margin-bottom:10px">
                <h6 style="position:relative; margin-right:3%">Как администратору:</h6>
                <ul class="list-unstyled">
                    @if (Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.UsersAdmin.View))
                    {
                        <li>
                            <a class="btn btn-secondary" style="margin-top:5px" asp-controller="UsersAdmin" asp-action="Index" value="Список пользователей">Список пользователей</a>
                        </li>
                    }
                    @if (Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Roles.View))
                    {
                        <li>
                            <a class="btn btn-secondary" style="margin-top:5px" asp-controller="Roles" asp-action="Index" value="Список ролей">Список ролей</a>
                        </li>
                    }
                    @if (Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Institutions.View))
                    {
                        <li>
                            <a class="btn btn-secondary" style="margin-top:5px" asp-controller="Institutions" asp-action="Index" value="Список институтов">Управление институтами</a>
                        </li>
                    }
                    @if (Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Message.Admin))
                    {
                        <li>
                            <a class="btn btn-secondary" style="margin-top:5px" asp-controller="Message" asp-action="Index" asp-all-route-data='new Dictionary<string,string> { { "ContainerType", "All" }, {"ContainerId", "None" }, { "SenderEmail", User.Identity.Name } }'>Массовая рассылка</a>
                        </li>
                    }
                    @if (Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Complains.View))
                    {
                        <li>
                            <a class="btn btn-secondary" style="margin-top:5px" asp-controller="Complains" asp-action="Index">Список жалоб</a>
                        </li>
                    }
                    </ul>
            </div>
        };


        if (User.IsInRole("Teacher"))
        {
<div id="RoleBlock" style="margin-top:10px;margin-bottom:10px">
    <h6 style="position:relative; margin-right:3%">Как учителю:</h6>
    @if ((Model.OwnDiscilpines_T!=null)&&(Model.OwnDiscilpines_T.Count > 0))
    {
        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Преподаваемые вами дисциплины
            </button>
            <div class="dropdown-menu">
                @foreach (var di in Model.OwnDiscilpines_T)
                {
                    <a class="dropdown-item" asp-controller="DisciplineDetails" asp-action="Index" asp-route-DiscId="@di.Id" asp-route-FromPP="true">@di.Name</a>
                }
            </div>
        </div>
       
    }
    else
    {
        <p>Вы не преподаете ни одной дисциплины</p>
    }
</div>
        };

        if (User.IsInRole("Manager"))
        {
<div id="RoleBlock" style="margin-top:10px;margin-bottom:10px">
    <h6 style="position:relative; margin-right:3%">Как менеджеру:</h6>
    @if ((Model.OwnInstitutions_M!=null)&&(Model.OwnInstitutions_M.Count > 0))
    {
        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Управляемые вами институты
            </button>
            <div class="dropdown-menu">
                @foreach (var di in Model.OwnInstitutions_M)
                {
                    <a class="dropdown-item" asp-controller="Departments" asp-action="Index" asp-route-InstId="@di.Id" asp-route-FromPP="true">@di.Name</a>
                }
            </div>
        </div>
       
    }
    else
    {
        <p>Вы управляете ни одним институтом</p>
    }
</div>

        };        

    }
</div>
</div>
