@model IOS_PROJECT3.ViewModels.MassRegViewModel
@{
    ViewBag.Title = "Список для массовой регистрации";
}
@if (User.Identity.IsAuthenticated && (User.IsInRole("Manager") || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Disciplines.EnrollStudent)))
{
    <h3>Заготовка данных для регистрации</h3>
    <br>
    <p>Всего: <b>@Model.Count</b> пользователей</p>
    <form method="post" asp-controller="UsersAdmin" asp-action="MassRegistration">
        <input type="hidden" asp-for="Count" value="@Model.Count" />
        <table style="border-spacing:30px 10px;border-collapse:separate">
            <tr><th>ФИО</th><th>Email</th><th>Пароль</th><th>Роль</th></tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr> <td><input type="text" asp-for="FIOs[i]" value="@Model.FIOs[i]" /></td><td><input type="text" asp-for="Emails[i]" value="@Model.Emails[i]" /></td><td><input type="text" asp-for="Passwords[i]" value="@Model.Passwords[i]" /></td><td><input type="text" asp-for="Roles[i]" value="@Model.Roles[i]" /></td></tr>
            }
        </table>
        <button class="btn btn-outline-primary btn-block" type="submit">Регистрация</button>
        <a class="btn btn-outline-secondary btn-block" asp-action="Index" asp-controller="UsersAdmin">Назад</a>
    </form>
}
