@model IOS_PROJECT3.ViewModels.CreateScheduleViewModel

@if (User.Identity.IsAuthenticated && (User.IsInRole("Manager") || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Schedule.Create)))
{
	<style>
		table {
			border-collapse: separate;
			border-style: solid;
			border: 1px;
		}
	</style>
	<div class="grid-container" style="font-size:70%">
		<script>
			function checkPair(i, day) {

				var select = document.getElementById(day + "_pairselect[" + i + "]");
				var value = select.value;
				if (value == "-1") {
					document.getElementById(day + "_additional[" + i + "]").hidden = true;
					document.getElementById(day + "_classrom[" + i + "]").value = "";
					//id="tue_classrom[i]"
				}
				else
					document.getElementById(day + "_additional[" + i + "]").hidden = false;
			}
		</script>
		<form method="post" asp-controller="Disciplines" asp-action="CreateSchedule">
			<input type="hidden" asp-for="SpecialityId" class="form-control" />
			<h5 style="display:inline">Название расписания: </h5> <input type="text" asp-for="WeekScheduleName" style="display:inline" />
			<table>
				<tr>
					<td>
						<div class="mon">
							<h6>Понедельник</h6>
							@for (int i = 0; i < 8; i++)
                            {
								<div class="mon[@i]">
									<label><b>Пара №@(i + 1)</b></label>
									<br>
									<label>Дисциплина</label>
									<select id="mon_pairselect[@i]" name="mon[@i].DisciplineId" onchange="checkPair((@i),'mon')">
										<option value="-1">Нет пары</option>
										@foreach (var di in Model.AvailableDisciplines)
                                        {
											<option value="@di.Id">@di.Name / @di.Teacher.FIO</option>
                                        }
									</select>
									<div id="mon_additional[@i]" hidden="hidden">
										<label>Аудитория</label>
										<input type="text" name="mon[@i].Classroom" id="mon_classrom[@i]" />
										<label>Формат</label><br>
										<select name="mon[@i].Type">
											<option value="Лекция">Лекция</option>
											<option value="Практика">Практика</option>
											<option value="Зачет">Зачет</option>
											<option value="Экзамен">Экзамен</option>
										</select>
									</div>
								</div>}
						</div>
					</td>
					<td>
						<div class="tue">
							<h6>Вторник</h6>
							@for (int i = 0; i < 8; i++)
                            {
								<div class="tue[@i]">
									<label><b>Пара №@(i + 1)</b></label>
									<br>
									<label>Дисциплина</label>
									<select id="tue_pairselect[@i]" name="tue[@i].DisciplineId" onchange="checkPair((@i),'tue')">
										<option value="-1">Нет пары</option>
										@foreach (var di in Model.AvailableDisciplines)
                                        {
											<option value="@di.Id">@di.Name / @di.Teacher.FIO</option>
                                        }
									</select>
									<div id="tue_additional[@i]" hidden="hidden">
										<label>Аудитория</label>
										<input type="text" name="tue[@i].Classroom" id="tue_classrom[@i]" />
										<label>Формат</label><br>
										<select name="tue[@i].Type">
											<option value="Лекция">Лекция</option>
											<option value="Практика">Практика</option>
											<option value="Зачет">Зачет</option>
											<option value="Экзамен">Экзамен</option>
										</select>
									</div>
								</div>}
						</div>
					</td>
					<td>
						<div class="wed">
							<h6>Среда</h6>
							@for (int i = 0; i < 8; i++)
                            {
								<div class="wed[@i]">
									<label><b>Пара №@(i + 1)</b></label>
									<br>
									<label>Дисциплина</label>
									<select id="wed_pairselect[@i]" name="wed[@i].DisciplineId" onchange="checkPair((@i),'wed')">
										<option value="-1">Нет пары</option>
										@foreach (var di in Model.AvailableDisciplines)
                                        {
											<option value="@di.Id">@di.Name / @di.Teacher.FIO</option>
                                        }
									</select>
									<div id="wed_additional[@i]" hidden="hidden">
										<label>Аудитория</label>
										<input type="text" name="wed[@i].Classroom" id="wed_classrom[@i]" />
										<label>Формат</label><br>
										<select name="wed[@i].Type">
											<option value="Лекция">Лекция</option>
											<option value="Практика">Практика</option>
											<option value="Зачет">Зачет</option>
											<option value="Экзамен">Экзамен</option>
										</select>
									</div>
								</div>}
						</div>
					</td>
					<td>
						<div class="thu">
							<h6>Четверг</h6>
							@for (int i = 0; i < 8; i++)
                            {
								<div class="thu[@i]">
									<label><b>Пара №@(i + 1)</b></label>
									<br>
									<label>Дисциплина</label>
									<select id="thu_pairselect[@i]" name="thu[@i].DisciplineId" onchange="checkPair((@i),'thu')">
										<option value="-1">Нет пары</option>
										@foreach (var di in Model.AvailableDisciplines)
                                        {
											<option value="@di.Id">@di.Name / @di.Teacher.FIO</option>
                                        }
									</select>
									<div id="thu_additional[@i]" hidden="hidden">
										<label>Аудитория</label>
										<input type="text" name="thu[@i].Classroom" id="thu_classrom[@i]" />
										<label>Формат</label><br>
										<select name="thu[@i].Type">
											<option value="Лекция">Лекция</option>
											<option value="Практика">Практика</option>
											<option value="Зачет">Зачет</option>
											<option value="Экзамен">Экзамен</option>
										</select>
									</div>
								</div>}
						</div>
					</td>
					<td>
						<div class="fri">
							<h6>Пятница</h6>
							@for (int i = 0; i < 8; i++)
                            {
								<div class="fri[@i]">
									<label><b>Пара №@(i + 1)</b></label>
									<br>
									<label>Дисциплина</label>
									<select id="fri_pairselect[@i]" name="fri[@i].DisciplineId" onchange="checkPair((@i),'fri')">
										<option value="-1">Нет пары</option>
										@foreach (var di in Model.AvailableDisciplines)
                                        {
											<option value="@di.Id">@di.Name / @di.Teacher.FIO</option>
                                        }
									</select>
									<div id="fri_additional[@i]" hidden="hidden">
										<label>Аудитория</label>
										<input type="text" name="fri[@i].Classroom" id="fri_classrom[@i]" />
										<label>Формат</label><br>
										<select name="fri[@i].Type">
											<option value="Лекция">Лекция</option>
											<option value="Практика">Практика</option>
											<option value="Зачет">Зачет</option>
											<option value="Экзамен">Экзамен</option>
										</select>
									</div>
								</div>}
						</div>
					</td>
					<td>
						<div class="sat">
							<h6>Суббота</h6>
							@for (int i = 0; i < 8; i++)
                            {
								<div class="sat[@i]">
									<label><b>Пара №@(i + 1)</b></label>
									<br>
									<label>Дисциплина</label>
									<select id="sat_pairselect[@i]" name="sat[@i].DisciplineId" onchange="checkPair((@i),'sat')">
										<option value="-1">Нет пары</option>
										@foreach (var di in Model.AvailableDisciplines)
                                        {
											<option value="@di.Id">@di.Name / @di.Teacher.FIO</option>
                                        }
									</select>
									<div id="sat_additional[@i]" hidden="hidden">
										<label>Аудитория</label>
										<input type="text" name="sat[@i].Classroom" id="sat_classrom[@i]" />
										<label>Формат</label><br>
										<select name="sat[@i].Type">
											<option value="Лекция">Лекция</option>
											<option value="Практика">Практика</option>
											<option value="Зачет">Зачет</option>
											<option value="Экзамен">Экзамен</option>
										</select>
									</div>
								</div>}
						</div>
					</td>
				</tr>
			</table>
			<input type="submit" value="Сохранить" class="btn btn-block" />
		</form>

        
</div>
<br>
}
<a class="btn btn-outline-secondary btn-sm" style="position:fixed; top:80px; left:20px" asp-action="Index" asp-controller="Disciplines" asp-route-SpecId="@Model.SpecialityId">Назад</a>