@model IOS_PROJECT3.ViewModels.DisciplinesViewModel
<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 0.7fr 0.9fr 1.4fr;
        grid-template-rows: 0.6fr 1.5fr 1.4fr 1fr;
        grid-row-gap: 5px;
        grid-template-areas: "spec-title spec-title spec-controls spec-controls spec-controls" "spec-tables spec-tables spec-tables spec-tables spec-tables" "spec-tables spec-tables spec-tables spec-tables spec-tables" "spec-tables spec-tables spec-tables spec-tables spec-tables";
    }

    .spec-tables {
        grid-area: spec-tables;
    }

    .spec-title {
        grid-area: spec-title;
    }

    .spec-controls {
        grid-area: spec-controls;
    }
</style>
<div class="grid-container">
    <div class="spec-title">
<h3 style="align-self:center; margin-bottom:25px">Специальность @Model.SpecialityName</h3>
        </div>
    <div class="spec-controls">
        <h5>Выберите, что отобразить</h5>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="TableSwitch" value="1" onchange="checkTS();" id="TS1" checked>
            <label class="form-check-label">
                Список дисциплин
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" name="TableSwitch" id="TS1" value="2" onchange="checkTS();" type="radio">
            <label class="form-check-label">
                Список студентов
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="TS1" value="3" onchange="checkTS();" name="TableSwitch">
            <label class="form-check-label">
                Расписания для данной специальности
            </label>
        </div>
        @if ((User.Identity.IsAuthenticated) && ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Message.Disciplines)))
        {
            <a class="btn btn-secondary btn-sm" style="position:absolute; top:10%; right:3%" asp-controller="Message" asp-action="Index" asp-all-route-data='new Dictionary<string,string> { { "ContainerType", "Speciality" }, {"ContainerId", Model.SpecialityId }, { "SenderEmail", User.Identity.Name } }'>Массовая рассылка</a>
        }
        <script>
            function checkTS() {//WARINNG УЖАСНЫЙ КОСТЫЛЬ НИЖЕ, СРОЧНО ЗАКРЫТЬ ГЛАЗА
                var TS = $("input[name='TableSwitch']:checked").val();

                if (TS == "1") {
                    //discs
                    $('#StudTable').fadeOut(300);
                    document.getElementById('StudTable').hidden = true;

                    $('#SchedTable').fadeOut(300);
                    document.getElementById('SchedTable').hidden = true;

                    document.getElementById('DisTable').hidden = false;
                    $('#DisTable').fadeOut(0);
                    $('#DisTable').fadeIn(300);
                }
                else if (TS == "2") {
                    //studs
                    //$('#SchedTable').fadeOut(100);

                    document.getElementById('StudTable').hidden = false;
                    $('#StudTable').fadeOut(0);
                    $('#StudTable').fadeIn(300);

                    $('#SchedTable').fadeOut(300);
                    document.getElementById('SchedTable').hidden = true;


                    $('#DisTable').fadeOut(300);
                    document.getElementById('DisTable').hidden = true;
                }
                else {
                    //scheds
                    $('#StudTable').fadeOut(300);
                    document.getElementById('StudTable').hidden = true;

                    document.getElementById('SchedTable').hidden = false;
                    $('#SchedTable').fadeOut(0);
                    $('#SchedTable').fadeIn(300);

                    $('#DisTable').fadeOut(300);
                    document.getElementById('DisTable').hidden = true;
                }
            }
        </script>
    </div>
    @* CONTROLS----- *@
    <div class="spec-tables">
        <div id="SchedTable" hidden="hidden">
            <h5 style="display:inline">Расписания для этой специальности</h5>
            @if ((User.Identity.IsAuthenticated) && ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Schedule.Create)))
            {
                <a style="margin-bottom:5px; margin-left:10px; display:inline" asp-controller="Disciplines" asp-route-SpecId="@Model.SpecialityId" asp-action="CreateSchedule">Добавить расписание</a>
            }
        <table class="table table-sm">
            <thead class="thead-light">
            <tr>
                <th>Название</th>
                @if ((User.Identity.IsAuthenticated) && ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Schedule.Delete)||Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Schedule.Edit)))
                {
                    <th>Управление
                        </th>
                }
                </tr>
                </thead>
            @foreach (var s in Model.Schedules)
            {

        <tr>
            <td>
                <a asp-controller="Disciplines" asp-route-WeekScheduleId="@s.id" asp-action="WeekSchedule">Расписание @s.Name</a>
            </td>
            <td>
               
                @if ((User.Identity.IsAuthenticated) && ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Schedule.Delete)))
                {
                <form method="post" asp-action="DeleteSchedule" asp-route-WeekScheduleId="@s.id">
                    @if ((User.Identity.IsAuthenticated) && ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Schedule.Edit)))
                    {

                        <a class="btn btn-primary btn-sm" style="display:inline; margin:0 5px 0 0;" asp-controller="Disciplines" asp-route-WeekScheduleId="@s.id" asp-action="EditSchedule">Изменить</a>

                    }
                    <button style="display:inline;margin:0px;" type="submit" class="btn btn-danger btn-sm">Удалить</button>
                </form>
                }
            </td>
        </tr>

            }
        </table>
            </div>
        @* ----SCHED *@

    <div id="DisTable" style="opacity:100">
        <h5 style="display:inline">Список дисциплин</h5>
        @if ((User.Identity.IsAuthenticated)&&((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Disciplines.Create)))
        {
            <a style="margin-bottom:5px; margin-left:10px; display:inline" asp-controller="Disciplines" asp-route-SpecId="@Model.SpecialityId" asp-action="Create">Добавить дисциплину</a>
        }
        
        <table class="table" style="border-collapse:collapse;table-layout:auto; text-align:center;">
            <thead class="thead-light">
            <tr>
                <th>Название</th>
                <th>Лекции(часы)</th>
                <th>Практики(часы)</th>
                <th>Зачетность</th>
                <th>Преподаватель</th>
                @if ((User.Identity.IsAuthenticated)&&((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Disciplines.Edit) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Disciplines.Delete)))
                {
                    <th>Управление</th>
                }
            </tr>
                </thead>
            @foreach (var di in Model.Disciplines)
            {
                <tr>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a style="margin-bottom:15px" asp-controller="DisciplineDetails" asp-route-DiscId="@di.Id" asp-action="Index">@di.Name</a>
                        }
                        else
                        {
                            <p>@di.Name</p>
                        }
                    </td>
                    <td>@di.LectionH</td>
                    <td>@di.PracticeH</td>
                    <td>@di.ExamType</td>
                    <td>@di.Teacher.FIO</td>
                    @if ((User.Identity.IsAuthenticated)&&((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Disciplines.Edit) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Disciplines.Delete)))
                    {
                        <td>
                            @if ((User.Identity.IsAuthenticated)&&((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Disciplines.Edit)))
                            {
                                <a class="btn btn-sm btn-primary" style="margin-top:5px" asp-controller="Disciplines" asp-action="Edit" asp-route-DiscId="@di.Id">Изменить</a>
                            }
                            @if ((User.Identity.IsAuthenticated)&&((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Disciplines.Delete)))
                            {
                                <form asp-action="Delete" asp-controller="Disciplines" asp-route-Id="@di.Id" method="post">
                                    <button type="submit" style="margin-top:5px" class="btn btn-sm btn-danger">
                                        Удалить
                                    </button>
                                </form>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
        @* DISCS----- *@
    <div id="StudTable" hidden="hidden">
        <h5 style="display:inline;margin-right:10px;">Список студентов</h5>
        @if (User.Identity.IsAuthenticated)
        {
            @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Disciplines.EnrollStudent))
            {
                <a style="margin-bottom: 5px; display:inline; margin-right:5px;" asp-controller="Disciplines" id="singleReg" asp-route-SpecId="@Model.SpecialityId" asp-action="AddStudentUNF">Зачислить одного студента</a>
                <div class="form-check-inline" style="">
                    <input class="form-check-input" type="checkbox" id="massRegCheck" name="Зачислить студентов из Excel файла" value="Зачислить студентов из Excel файла" />
                    <label class="form-check-label">Зачислить студентов из Excel файла </label>
                </div>

                <div hidden="hidden" id="massReg" class="alert alert-primary">
                    <form asp-action="AddFile" asp-route-SpecId="@Model.SpecialityId" asp-controller="Disciplines" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" onchange="enableBtn();" style="" class="custom-file-input"  name="uploadedFile">
                                <label class="custom-file-label" style="">Выберите файл</label>
                            </div>
                            <div class="input-group-append">
                                <input type="submit" style="" id="fileSubmit" disabled="disabled" class="btn btn-outline-secondary" value="Загрузить" />
                            </div>
                        </div>
                        @*<input type="file" style="margin-bottom:5px; display:block;" name="uploadedFile" />*@

                        @*<input type="submit" style="display:block;margin-bottom:7px" class="btn btn-sm btn-primary" value="Загрузить" />*@

                    </form>
                    <script>
                        function enableBtn() {
                            var button = document.getElementById('fileSubmit');
                            button.disabled = false;
                        }
                    </script>
                </div>
                <div class="alert alert-info" role="alert" id="InfoReg" hidden="hidden">
                    <h6>Требования к данным</h6>
                    <p>
                        Загруженный файл должен иметь формат <b>.xlsx</b>, для зачисления пользователей на данную специальность, в загружаемом файле в <b>первом</b>
                        столбце <b>первого</b> листа необходимо указать их email'ы, использованные при регистрации. Сами пользователи должны иметь роль Student.
                    </p>
                </div>
                <script>
                    $('#massRegCheck').on('click', function () {
                        if ($(this).is(':checked')) {
                            document.getElementById('massReg').hidden = false;
                            document.getElementById('InfoReg').hidden = false;
                            document.getElementById('singleReg').hidden = true;
                            document.getElementById('studentsTable').hidden = true;
                        } else {
                            document.getElementById('massReg').hidden = true;
                            document.getElementById('InfoReg').hidden = true;
                            document.getElementById('singleReg').hidden = false;
                            document.getElementById('studentsTable').hidden = false;
                        }
                    })</script>
            }
            @if (Model.Students.Count > 0)
            {
                <table id="studentsTable" class="table" style="border-collapse:collapse;table-layout:auto; text-align:center;">
                    <thead class="thead-light">
                        <tr>
                            <th>ФИО студента</th>
                            @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Disciplines.EnrollStudent))
                            {
                                <th>Управление</th>
                            }
                        </tr>
                    </thead>
                    @foreach (var s in Model.Students)
                    {
                        <tr>
                            <td>@s.FIO</td>
                            @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Disciplines.EnrollStudent))
                            {
                                <td>
                                    <form asp-action="DeleteStudent" asp-controller="Disciplines" asp-route-Id="@s.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            Удалить
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </table>
            }
        }
        else
        {
            <p><b>Недоступен неавторизованным пользователям</b></p>
        }

    </div>
        @* STUDS--- *@
    </div>
    </div>
@if (Model.FromPP)
{
    <a class="btn btn-outline-secondary" id="GoBackBtn" asp-action="Index" asp-controller="PersonalPage">Назад</a>
}
else
{
    <a class="btn btn-outline-secondary btn-sm" id="GoBackBtn" asp-action="Index" asp-controller="Specialities" asp-route-DepId="@Model.DepartmentId">Назад</a>
}