@model IOS_PROJECT3.ViewModels.DisciplinesViewModel
<style>
    .grid-container-spec {
        display: grid;
        grid-template-columns: /*1.2fr 0.8fr;*/ 80% 20%;
        grid-gap:10px;
        grid-template-areas: "disciplines-spec students-spec";
    }

    .disciplines-spec {
        grid-area: disciplines-spec;
    }

    .students-spec {
        grid-area: students-spec;
    }

</style>
<h3 style="align-self:center; margin-bottom:25px">Специальность @Model.SpecialityName</h3>
<div id="schedules">
    <h5>Расписания для этой специальности</h5>
    @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
    {
        <a style="margin-bottom:15px" asp-controller="Disciplines" asp-route-SpecId="@Model.SpecialityId" asp-action="CreateSchedule">Добавить расписание</a>
    }
    @foreach (var s in Model.Schedules)
    {
        <table>
            <tr>
                <td>
                    <a asp-controller="Disciplines" asp-route-WeekScheduleId="@s.id" asp-action="WeekSchedule">Расписание @s.Name</a>
                </td>
                @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn btn-primary btn-sm"  asp-controller="Disciplines" asp-route-WeekScheduleId="@s.id" asp-action="EditSchedule">Изменить</a>
                    </td>
                <td>
                    <form method="post" asp-action="DeleteSchedule" asp-route-WeekScheduleId="@s.id">
                    
                        <button type="submit" class="btn btn-danger btn-sm" >Удалить</button>
                        </form>
                </td>
                }
            </tr>
        </table>
    }
</div>
<div class="grid-container-spec" style="width:100%">
    <div class="disciplines-spec">
        <h5 style="align-self:center; margin-bottom:25px">Список дисциплин</h5>
        @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
        {
            <a style="margin-bottom:15px" asp-controller="Disciplines" asp-route-SpecId="@Model.SpecialityId" asp-action="Create">Добавить дисциплину</a>
            <a class="btn btn-secondary btn-sm" style="position:absolute; top:10%; right:3%" asp-controller="Message" asp-action="Index" asp-all-route-data='new Dictionary<string,string> { { "ContainerType", "Speciality" }, {"ContainerId", Model.SpecialityId }, { "SenderEmail", User.Identity.Name } }'>Массовая рассылка</a>
        }
        <table class="table table-bordered" style="border-collapse:collapse;table-layout:auto; text-align:center;">
            <tr>
                <th>Название</th>
                <th>Лекции(часы)</th>
                <th>Практики(часы)</th>
                <th>Зачетность</th>
                <th>Преподаватель</th>
                @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
                {
                    <th>Управление</th>
                }
            </tr>
            @foreach (var di in Model.Disciplines)
            {
                <tr>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a style="margin-bottom:15px" asp-controller="DisciplineDetails" asp-route-DiscId="@di.Id" asp-action="Index">@di.Name</a>
                        }
                        else
                        {
                            <p>@di.Name</p>
                        }
                    </td>
                    <td>@di.LectionH</td>
                    <td>@di.PracticeH</td>
                    <td>@di.ExamType</td>
                    <td>@di.Teacher.FIO</td>
                    @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
                    {
                        <td>
                            <form asp-action="Delete" asp-controller="Disciplines" asp-route-Id="@di.Id" method="post">
                                <a class="btn btn-sm btn-primary" style="margin-top:5px" asp-controller="Disciplines" asp-action="Edit" asp-route-DiscId="@di.Id">Изменить</a>
                                <button type="submit" style="margin-top:5px" class="btn btn-sm btn-danger">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    }

                </tr>
            }
        </table>
    </div>
    <div class="students-spec">
        <h5 style="align-self:center; margin-bottom:25px">Список студентов</h5>
        @if (User.Identity.IsAuthenticated)
        {
            @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
            {
                <div style="margin-bottom:10px; margin-top:10px">
                    <label margin-right:5px;>Зачислить студентов из Excel файла </label><input type="checkbox" id="massRegCheck" name="Зачислить студентов из Excel файла" value="Зачислить студентов из Excel файла" />
                </div>
                <a style="margin-bottom: 15px" asp-controller="Disciplines" id="singleReg" asp-route-SpecId="@Model.SpecialityId" asp-action="AddStudentUNF">Зачислить студента</a>
                <div hidden="hidden" id="massReg" class="alert alert-primary">
                    <form style="font-size:70%" asp-action="AddFile" asp-route-SpecId="@Model.SpecialityId" asp-controller="Disciplines" method="post" enctype="multipart/form-data">
                        <input type="file" style="margin-bottom:5px; display:block;" name="uploadedFile" />

                        <input type="submit" style="display:block;margin-bottom:7px" class="btn btn-sm btn-primary" value="Загрузить" />
                    </form>
                </div>
                <div class="alert alert-info" role="alert" id="InfoReg" hidden="hidden">
                    <h6>Требования к данным</h6>
                    <p>
                        Загруженный файл должен иметь формат <b>.xlsx</b>, для зачисления пользователей на данную специальность, в загружаемом файле в <b>первом</b>
                        столбце <b>первого</b> листа необходимо указать их email'ы, использованные при регистрации. Сами пользователи должны иметь роль Student.
                    </p>
                </div>
                <script>
                    $('#massRegCheck').on('click', function () {
                        if ($(this).is(':checked')) {
                            document.getElementById('massReg').hidden = false;
                            document.getElementById('InfoReg').hidden = false;
                            document.getElementById('singleReg').hidden = true;
                            document.getElementById('studentsTable').hidden = true;
                        } else {
                            document.getElementById('massReg').hidden = true;
                            document.getElementById('InfoReg').hidden = true;
                            document.getElementById('singleReg').hidden = false;
                            document.getElementById('studentsTable').hidden = false;
                        }
                    })</script>
            }
            @if (Model.Students.Count > 0)
            {
                <table id="studentsTable" class="table table-bordered" style="border-collapse:collapse;table-layout:auto; text-align:center;">
                    <tr>
                        <th>ФИО студента</th>
                        @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
                        {
                            <th>Управление</th>
                        }
                    </tr>
                    @foreach (var s in Model.Students)
                    {
                        <tr>
                            <td>@s.FIO</td>
                            @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
                            {
                                <td>
                                    <form asp-action="DeleteStudent" asp-controller="Disciplines" asp-route-Id="@s.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            Удалить
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </table>
            }
        }
        else
        {
            <p><b>Недоступен неавторизованным пользователям</b></p>
        }

    </div>
</div>
<a class="btn btn-outline-secondary btn-block" asp-action="Index" asp-controller="Specialities" asp-route-DepId="@Model.DepartmentId">Назад</a>