@model IOS_PROJECT3.ViewModels.DisciplinesViewModel
@using IOS_PROJECT3.Models;
<style>
    .grid-container-spec {
        display: grid;
        grid-template-columns: /*1.2fr 0.8fr;*/ 80% 20%;
        grid-gap:15px;
        grid-template-areas: "disciplines-spec students-spec";
    }

    .disciplines-spec {
        grid-area: disciplines-spec;
    }

    .students-spec {
        grid-area: students-spec;
    }

</style>
<h3 style="align-self:center; margin-bottom:25px">Специальность @Model.SpecialityName</h3>
<div class="grid-container-spec" style="width:100%">
    <div class="disciplines-spec">
        <h5 style="align-self:center; margin-bottom:25px">Список дисциплин</h5>
        @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
        {
            <a style="margin-bottom:15px" asp-controller="Disciplines" asp-route-SpecId="@Model.SpecialityId" asp-action="Create">Добавить дисциплину</a>
        }
        <table class="table table-bordered" style="border-collapse:collapse;table-layout:auto; text-align:center;">
            <tr>
                <th>Название</th>
                <th>Лекции(часы)</th>
                <th>Практики(часы)</th>
                <th>Зачетность</th>
                <th>Преподаватель</th>
                @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
                {
                    <th>Управление</th>
                }
            </tr>
            @foreach (var di in Model.Disciplines)
            {
                <tr>
                    <td>@di.Name</td>
                    <td>@di.LectionH</td>                   
                    <td>@di.PracticeH</td>
                    <td>@di.ExamType</td>
                    <td>@di.Teacher.FIO</td>
                    @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
                    {
                        <td>
                            <form asp-action="Delete" asp-controller="Disciplines" asp-route-Id="@di.Id" method="post">
                                <a class="btn btn-sm btn-primary" asp-controller="Disciplines" asp-action="Edit" asp-route-DiscId="@di.Id">Изменить</a>
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    }

                </tr>
            }
        </table>
    </div>
    <div class="students-spec">
        <h5 style="align-self:center; margin-bottom:25px">Список студентов</h5>
        @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
        {
            <a style="margin-bottom: 15px" asp-controller="Disciplines" asp-route-SpecId="@Model.SpecialityId" asp-action="AddStudent">Зачислить студента</a>
        }
        @if (Model.Students.Count > 0)
        {
            <table class="table table-bordered" style="border-collapse:collapse;table-layout:auto; text-align:center;">
                <tr>
                    <th>ФИО студента</th>
                    @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
                    {
                        <th>Управление</th>
                    }
                </tr>
                @foreach (var s in Model.Students)
                {
                    <tr>
                        <td>@s.FIO</td>
                        @if ((User.IsInRole("Manager") && User.Identity.Name == Model.InstManagerEmail) || User.IsInRole("Admin"))
                        {
                            <td>
                                <form asp-action="DeleteStudent" asp-controller="Disciplines" asp-route-Id="@s.Id" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        Удалить
                                    </button>
                                </form>
                            </td>
                        }
                    </tr>
                }
            </table>
        }
    </div>
</div>