@model IOS_PROJECT3.ViewModels.ScheduleViewModel

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap:30px;
        grid-template-areas: "mon tue wed thu fri sat";
    }
    .mon {
        grid-area: mon;
    }
    .tue {
        grid-area: tue;
    }
    .wed {
        grid-area: wed;
    }
    .thu {
        grid-area: thu;
    }
    .fri {
        grid-area: fri;
    }
    .sat {
        grid-area: sat;
    }
    table{
        border-collapse:separate;
        border-style:solid;
        border:1px;
    }
  
</style>
<h3>Расписание @Model.WeekScheduleName</h3>
<div class="grid-container" style="font-size:70%">
    <div class="mon">
        <table class="table table-borderless">
            <tr class="table-primary"><th>Понедельник</th></tr>
            @if (Model.ScheduleForDays["mon"] != null)
            {
                @foreach (var di in Model.ScheduleForDays["mon"])
                {
                    @if (di.DisciplineId != -1)
                    {
                        <tr class="table-success">
                            <td>
                                <b>@di.Name</b><br>
                                @di.Type<br>
                                @di.TeacherFIO<br>
                                @di.Classroom
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="table-secondary">
                            <td>
                                <b>@di.Name</b><br>
                                @di.Type<br>
                                @di.TeacherFIO<br>
                                @di.Classroom
                            </td>
                        </tr>
                    }

                }
            }
        </table>
    </div>
    <div class="tue">
        <table class="table table-borderless">
            <tr class="table-primary"><th>Вторник</th></tr>
            @if (Model.ScheduleForDays["tue"] != null)
                @foreach (var di in Model.ScheduleForDays["tue"])
                {
                    @if (di.DisciplineId != -1)
                    {
                        <tr class="table-success">
                            <td>
                                <b>@di.Name</b><br>
                                @di.Type<br>
                                @di.TeacherFIO<br>
                                @di.Classroom
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="table-secondary">
                            <td>
                                <b>@di.Name</b><br>
                                @di.Type<br>
                                @di.TeacherFIO<br>
                                @di.Classroom
                            </td>
                        </tr>
                    }

                }
        </table>
    </div>
    <div class="wed">
        <table class="table table-borderless">
            <tr class="table-primary"><th>Среда</th></tr>
            @if (Model.ScheduleForDays["wed"] != null)
                @foreach (var di in Model.ScheduleForDays["wed"])
                {
                    @if (di.DisciplineId != -1)
                    {
                        <tr class="table-success">
                            <td>
                                <b>@di.Name</b><br>
                                @di.Type<br>
                                @di.TeacherFIO<br>
                                @di.Classroom
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="table-secondary">
                            <td>
                                <b>@di.Name</b><br>
                                @di.Type<br>
                                @di.TeacherFIO<br>
                                @di.Classroom
                            </td>
                        </tr>
                    }

                }
        </table>
    </div>
    <div class="thu">
        <table class="table table-borderless">
            <tr class="table-primary"><th>Четверг</th></tr>
            @if (Model.ScheduleForDays["thu"] != null)
                @foreach (var di in Model.ScheduleForDays["thu"])
                {
                    @if (di.DisciplineId != -1)
                    {
                        <tr class="table-success">
                            <td>
                                <b>@di.Name</b><br>
                                @di.Type<br>
                                @di.TeacherFIO<br>
                                @di.Classroom
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="table-secondary">
                            <td>
                                <b>@di.Name</b><br>
                                @di.Type<br>
                                @di.TeacherFIO<br>
                                @di.Classroom
                            </td>
                        </tr>
                    }

                }
        </table>
    </div>
    <div class="fri">
        <table class="table table-borderless">
            <tr class="table-primary"><th>Пятница</th></tr>
            @if (Model.ScheduleForDays["fri"] != null)
                @foreach (var di in Model.ScheduleForDays["fri"])
                {
                    @if (di.DisciplineId != -1)
                    {
                        <tr class="table-success">
                            <td>
                                <b>@di.Name</b><br>
                                @di.Type<br>
                                @di.TeacherFIO<br>
                                @di.Classroom
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="table-secondary">
                            <td>
                                <b>@di.Name</b><br>
                                @di.Type<br>
                                @di.TeacherFIO<br>
                                @di.Classroom
                            </td>
                        </tr>
                    }

                }
        </table>
    </div>
    <div class="sat">
        <table class="table table-borderless">
            <tr class="table-primary"><th>Суббота</th></tr>
            @if (Model.ScheduleForDays["sat"] != null)
                @foreach (var di in Model.ScheduleForDays["sat"])
                {
                    @if (di.DisciplineId != -1)
                    {
                        <tr class="table-success">
                            <td>
                                <b>@di.Name</b><br>
                                @di.Type<br>
                                @di.TeacherFIO<br>
                                @di.Classroom
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="table-secondary">
                            <td>
                                <b>@di.Name</b><br>
                                @di.Type<br>
                                @di.TeacherFIO<br>
                                @di.Classroom
                            </td>
                        </tr>
                    }

                }
        </table>
    </div>
</div>
<a class="btn btn-outline-secondary btn-sm" style="position:fixed; top:80px; left:20px" asp-action="Index" asp-controller="Disciplines" asp-route-SpecId="@Model.SpecialityId">Назад</a>