@model IOS_PROJECT3.ViewModels.RolesViewModel
@if (User.Identity.IsAuthenticated && Model.checkAccess("viewRolesIndex", User.Identity.Name))
{
	<script>
		console.log('@User.Identity.Name');
		console.log('@User.Claims');
	</script>
	<h2>Список ролей</h2>
	<script>
		let grants = @Json.Serialize(Model.allGrants);
		for (let i = 0; i < grants.length; ++i) console.log(grants[i].name + ' | ' + grants[i].description);
	</script>
	<table class="table">
		@foreach (var role in Model.allRoles)
		{
		<tr>
			<td>@role.Name</td>
			<td>
				@foreach (var grant in Model.getRoleGrants(role))
				{
					<span title="@grant.Description" style="display:inline;cursor: help ">
						@grant.Name | 
					</span>
				}
			</td>

			<td>
				@if (role.Name != "Admin" && role.Name != "Student" && role.Name != "Teacher" && role.Name != "Manager")
				{
					<form asp-action="Delete" asp-route-roleId="@role.Id" method="post">
						<button type="submit" class="btn btn-sm btn-danger">
							Удалить
						</button>
					</form>
				}

			</td>
		</tr>
		}
	</table>
	<a asp-action="Create">Добавить роль</a>
}

@*<a asp-action="UserList">Список пользователей</a>*@